#titlebar {
    background: #005026;
    color: #ffffff;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #222222;
    color: #ffffff;
    border: 1px solid #005026;
}

::-webkit-scrollbar {
    width: 0;
}

.card:hover {
    background: #333333;
    transition: all .3s;
}

a {
    color: white;
}

#section {
    background: #222222;
}

#section > div {
    color: white;
    transition: all .3s;
}

#section > div.sel {
    background-color: #005026;
    color: white;
}

.slider {
    background-color: #005026;
}

.slider:before {
    background-color: #222222;
}

input:checked + .slider {
    background-color: #00D465;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00D465;
}